[user]
  name = Jan Pieper
  email = kontakt@jan-pieper.info
  signingkey = B8FC53BE
[alias]
  unstage = reset HEAD --
  who = !git shortlog --summary --email --numbered
  cached = !git diff --cached
  amend = !git commit --amend
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = ~/.gitexcludes
  editor = /usr/bin/vi -c 'set colorcolumn=72'
[push]
  default = upstream
[branch]
  autosetupmerge = true
  autosetuprebase = always
[merge]
  summary = true
[rebase]
  stat = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[github]
  user = janpieper
[branch "master"]
  mergeoptions = --no-ff
[branch "staging"]
  mergeoptions = --no-ff
[branch "development"]
  mergeoptions = --no-ff
